.Body{
    margin: 0px;


}
.addUser{
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/Images/Adduser.jpg');
    background-size: cover;
    height: 90vh;

}
.addUser h1{
    text-align: center;
    margin: 0;
    margin: 20px ;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}
.adduserimp{
    text-align: center;
    align-items: center;
    height: 350px ;
    width: 350px;
    background-color: rgba(0,0, 0, 0.5);
    border-radius: 25px;
    margin-bottom: 200px;
}
.adduserimp input{
    height: 25px;
    width: 250px;
    margin: 12px;
}
.adduserimp button{
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 139, 0.86);
    color: antiquewhite;
    border: none;
    margin-bottom: 80px;
}
.adduserimp button:hover{
    background-color: blue;

}
.username{
    margin-top: 50px;
}