.body {
    margin: 0px;
}
.adminlogin{
    background: url("../../public/Images/adminlogin.jpg");
    background-size: cover;
    height: 100vh;

}
.adminlogin {
    display: flex;
    justify-content: center;

}

.loginForm {
    height: 400px;
    width: 400px;
    background-color: cornsilk;
    text-align: center;
    margin-top: 190px;
    border-radius: 25px;
}

.loginForm h1 {
    margin: 0;
    text-align: center;
    
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.email {
    margin: 30px 0px;
}

.email input {
    height: 25px;
    width: 270px;
    outline: none;
    border: none;
    border-bottom: 3px solid darkorange;
    background-color: transparent;
}

.email {
    font-weight: normal;
    font-size: 20px;
    
}
.email label{
    margin-right: 220px;
}


.password {

    font-weight: normal;
     font-size: 20px;

}
.password label{
    margin-right: 184px;
}

.password input {
    height: 25px;
    width: 270px;
    outline: none;
    border: none;
    border-bottom: 3px solid darkorange;
    background-color: transparent;

}

.form_input button {
    margin-top: 35px;
    padding: 10px 80px;
    border-radius: 12px;
    border: none;
    background-color: darkorange;
    color: darkblue;
    font-size: 20px;
}

.form_input button:hover{
    background-color: rgb(4, 133, 4);
    color:lightgoldenrodyellow ;
}

.userlogin{
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    background: url("../../public/Images/userlogin.jpg");

}