.body {
    margin: 0;
}

.booklist {
    background-color: rgb(189, 220, 245);
}

.bookCard {
    display: inline-table;
    width: 320px;
    height: 470px;
    background-color: aliceblue;
    margin: 20px;
    box-shadow: 0px 0px 15px blue;
}

.bookimf h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
    margin: 2px;

}

.bookimf h1 {
    font-size: 20px;
    margin: 0;

}

.bookimag img {
    padding: 15px;
}

.bookimf {

    height: 150px;
    width: 280px;
    margin: 5px auto;

}

.bookimfbtn button {
    margin-left: 15px;
    text-align: center;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
}

.bookimfbtn {
    margin: 5px 30px;
}

#heading {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.bookSection {
    margin-left: 40px;

}

#read {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
    margin-left: 5px;
}

#read:hover {
    background-color: blue;
    color: aliceblue;

}

#delete {
    background-color: transparent;
    color: red;
    border: 2px solid red;
    margin-right: 5px;
}

#delete:hover {
    background-color: red;
    color: rgb(0, 0, 0);

}