.body{
    margin: 0;
}

.usernavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(66, 153, 229);
    padding: 20px 0px;
    
}
.navbarlogo h1{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0px 20px seashell;
    color: black;
    
}
.navbarlogo{
    margin-left: 50px;
}

.navbarlinks a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     padding: 15px;
}
.navbarlogout a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    margin-right: 50px;
    border: 3px solid blue;
    padding: 8px 20px;
    border-radius: 10px;
}
.navbarlogout a:hover{
    color:lightgoldenrodyellow;
    border: 3px solid lightgoldenrodyellow;
    
}
.navbarlinks a:hover{
    border-bottom: 3px solid blue ;
    color: blue;
    
}